certifi==2023.7.22
charset-normalizer==3.2.0
idna==3.4
numpy==1.25.1
requests==2.31.0
urllib3==2.0.4
python-dateutil~=2.8.2
pytest~=7.4.0
selenium~=4.11.2
mouse~=0.7.1
pynput~=1.7.6
xmltodict~=0.13.0
SQLAlchemy~=2.0.21